
 {% extends 'myapp/layout.html' %}
{% block body %}
    <h1>myapp</h1> <a href="logout/">Logout</a>
    {% for item in coin_list %}
    
    <p style="text-align: center;">{{item}}</p>
        
    {% endfor %}



    {% if user.is_authenticated %}
    <h1>Welcome {{user.username}}</h1>
    
    <div class="form-floating">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{user.username}}">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="userpost"></textarea>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% for post in userpost %}
    <hr>
        <p class="lh-sm" style="padding-left: 10px; margin-top: 3px; ">
            <b>{{post.username}}</b> <br>
        {{post.userpost}}
        </p>
    {% endfor %}

{% endblock %}
